
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.questionform{
display: flex;
flex-direction: column;
align-items: center;
padding: 15px;
margin: 10px;
background-color: aliceblue;
font-family: 'Nanum Gothic', sans-serif;
}
.question{
    display: flex;
    font-family: 'Nanum Gothic', sans-serif;
}
.questioninput{
    display: flex;
    font-family: 'Nanum Gothic', sans-serif;
}
.submitquestionbtn{
    display: flex;
    font-family: 'Nanum Gothic', sans-serif;
}
.quesionstatus{
    display: flex;
    font-family: 'Nanum Gothic', sans-serif;
}